.login-page {
  height: 100vh;
  width: 100%;
  background-color: #f5f5dc; /* beige */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: white;
  padding: 30px;
  border-radius: 16px;
  width: 360px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.app-title {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-box h3 {
  margin-bottom: 15px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-btn {
  width: 100%;
  padding: 12px;
  margin-top: 14px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.text {
  margin-top: 15px;
}

.link {
  color: blue;
  cursor: pointer;
  font-weight: 600;
}
